body{
    background-color:coral;
    text-align: center;
}
div{
    margin-top: 15px;
}
.image-section{
    display:flex;
    justify-content: center;
}
.section-style{
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}
img{
    width: 400px;
}